@import "commons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.linkHome:link{
    font-family: 'Poppins','sans serif';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.linkHome:visited{
    font-family: 'Poppins','sans serif';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.intro{
    background-image: url('../images/Fileoriginali/imparaPage.jpg') !important; 
    background-size: cover;
    height: 100vh;
    background-position:center ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sezione{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}


.testoSezione{
    color: #171c1c;
    font-weight: 400;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;

}

.titoloSezione{
    font-size: 30px;
    font-weight: 500;
}

.sezione1{
    padding-bottom: 40px;
    background-image: url("../images/icons/greenBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:100%;
}

.sezione2{
    padding-bottom: 40px;
    background-image: url("../images/icons/whiteBg.svg");
    background-repeat: no-repeat;
    background-size: cover;
}



.intro{
    background-image: url('../images/homeImages/savingMoney.jpg');
    background-size: cover;
    height: 100vh;
    background-position:center ;
    display: flex;
    align-items: center;
    justify-content: center;
}

  
.introText {
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-family: 'Nunito';
    letter-spacing: 2px;
}

.sezione2{
    background-color: #00803E;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imageView{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imageView-item{
    width: 33%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1.5rem;
}

.illustration{
    width: 55%;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.bold{
    font-weight: 600;
    background-color: #e1e42dce;
}

.vai_a{
    margin-top: 10px;
    background-color: #00803E;
    padding: 8px;
    font-size: 25px;
    border-radius: 10px;
    filter:drop-shadow(0px 0px 10px var(--textColor));
    color: white;
}

.ultimaSez{
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* == MEDIA QUERY TABLET */

@media screen and (min-width: 767px) {
    

    .sezione{
        padding-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .imageView{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    .imageView-item{
        width: 150px;
        height: 150px;
        padding-left: 20px;
        padding-right: 20px;
        transition: all ease 0.2s;

    }

    .imageView-item:hover{
        width: 153px;
        height: 153px;
        padding-left: 20px;
        padding-right: 20px;
        filter: drop-shadow(10px 15px 5px rgba(0,0,0,0.3));
        transition: all ease 0.2s;
    }   

    .illustration{
        width: 35%;
    }

}


/* == LAPTOP == */


@media screen and (min-width: 790px) {
    
      
    .titolo {
        order: 2;
        margin-left: auto;
        margin-right: auto;
        padding-right: 24.6%;
    }
      

    .sezione{
        padding-top: 30px;
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
        text-align: center;
    }

    .titoloSezione{
        font-size: 40px;
    }

    .testoSezione{
        font-size: 25px;
    }

    .sezione2{
        height: max-content;
        padding: 40px;
    }

    .titoloSezione{
        padding-top: 1rem;
    }

    #testoSezione2{
        height: fit-content;
    }

    .imageView-item{
        width: 160px;
        height: 160px;
        padding-left: 20px;
        padding-right: 20px;
        transition: all ease 0.2s;

    }

    .imageView-item:hover{
        width: 163px;
        height: 163px;
        padding-left: 20px;
        padding-right: 20px;
        filter: drop-shadow(10px 15px 5px rgba(0,0,0,0.3));
        transition: all ease 0.2s;
    }   

    .illustration{
        width: 30%;
        display: block;
    }

    

}

/* == LAPTOP GRANDE == */

@media screen and (min-width:1439px) {
      
    .titolo {
        order: 2;
        margin-left: auto;
        margin-right: auto;
        padding-right: 24.6%;
    }
      

    .sezione{
        padding-top: 30px;
        display: flex;
        flex-direction: row;
    }


    .titoloSezione{
        font-size: 40px;
    }

    .testoSezione{
        font-size: 25px;
    }

    .sezione2{
        height: max-content;
        padding: 40px;
    }

    .titoloSezione{
        padding-top: 1rem;
    }

    .imageView-item{
        width: 170px;
        height: 170px;
        padding-left: 20px;
        padding-right: 20px;
        transition: all ease 0.2s;

    }

    .imageView-item:hover{
        width: 173px;
        height: 173px;
        padding-left: 20px;
        padding-right: 20px;
        filter: drop-shadow(10px 15px 5px rgba(0,0,0,0.3));
        transition: all ease 0.2s;
    }   

    .illustration{
        width: 20%;
        display: block;
    }

}
