@import "commons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


body{
    background-color: #197a48;
}

#gif{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scritte{
    text-align: center;
    font-family: 'Poppins';
    font-size: 17px;
    margin-left: 20%;
    margin-right: 20%;
}

#errorButton{
    margin-top: 15px;
    font-family: 'Poppins';
    text-align: center;
    background-color: #329C58;
    color: #ebebeb;
    font-size: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
}

#errorButton:active{
    margin-top: 15px;
    font-family: 'Poppins';
    text-align: center;
    background-color: #0f883c;
    color: #ebebeb;
    font-size: 30px;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
}