@import "commons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


body{
    background-color: white;
}

#gif{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.scritte{
    text-align: center;
    font-family: 'Poppins';
    font-size: 17px;
}

#errorButton {
    margin-top: 15px;
    font-family: 'Poppins';
    text-align: center;
    background-color: #329C58;
    color: #ebebeb;
    font-size: 20px;
    border-radius: 10px;
    text-transform: uppercase;
    border: none;
    padding: 15px;
    cursor: pointer;

    transition: 0.5s;
}

#errorButton:active{
    background-color: #02331a;
}

#errorButton:hover{
    background-color: #02331a;
    border-radius: 20px;
}

/* == TABLET ==*/

@media screen and (min-width: 767px) {
    
    #gif{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .scritte{
        text-align: center;
        font-family: 'Poppins';
        font-size: 20px;
    }
    

}


/* == LAPTOP == */


@media screen and (min-width: 790px) {
    
      

}

/* == LAPTOP GRANDE == */

@media screen and (min-width:1439px) {
      

}