@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import 'commons.css';

body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.hidden p{
    display: none;
}

.linkHome:link{
    color: white;
}

.linkHome:visited{
    color: white;
}


/* == DIV REGOLE E PULSANTE GIOCA == */
#regole-avvia{
    padding-top: 1rem;
    font-size: 20px;
    text-align: center;
    font-family: 'Poppins', 'Sans Serif';
    padding-bottom: 30vh;
}

.regole{
    display: block;
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 25px;

}

.collegamentoImpara{ 
    color: #02331a; 
    font-size: 20px;
}

    /* BOTTONE DI GIOCO */


.playButton{
    transition-duration: 0.4s;
    border-color:transparent;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    background-color: #006e35;
    width: 125px;
    height: 50px;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


.gameDiv{
    text-align: center;
}

/* == MEDIA QUERY TABLET */

@media screen and (min-width: 767px) {
    
    .titolo {
        order: 2;
        margin-left: auto;
        margin-right: auto;
        padding-right: 24.6%;
    }

    .regole{
        font-size: 23px;
    }

    .collegamentoImpara{ 
        color: #02331a; 
        font-size: 23px;
    }
      
    .playButton{
        width: 127px;
        height: 53px;
    }

    .answersContainer{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
        column-gap: 10px;  
    }

    .answerItem{
        display: flex;
        width: 230px;
        height: 130px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
    }



}


/* == LAPTOP == */


@media screen and (min-width: 790px) {
    

    .regole{
        font-size: 25px;
    }

    .collegamentoImpara{ 
        color: #02331a; 
        font-size: 25px;
    }

    .playButton{
        width: 130px;
        height: 56px;
    }

    .answersContainer{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
        column-gap: 10px;  
    }

    .answerItem{
        display: flex;
        width: 230px;
        height: 130px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
    }
}

/* == LAPTOP GRANDE == */

@media screen and (min-width:1439px) {
    
    #imageSDG1{
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .regole{
        font-size: 27px;
        margin: 0 30%;
    }

    .collegamentoImpara{ 
        color: #02331a; 
        font-size: 27px;
    }

    .playButton{
        width: 133px;
        height: 59px;
    }

    .answersContainer{
        display: grid;
        grid-template-columns: auto auto;
        row-gap: 10px;
        column-gap: 10px;  
    }

    .answerItem{
        display: flex;
        width: 230px;
        height: 130px;
        border-radius: 20px;
        text-align: center;
        cursor: pointer;
    }

    #modal-box{
        position: fixed;
        top: 20%;
        left: 30%;
        width: 40%;
        height: 50%;
        background-color: #cfcfcf;
        transition: all 0.2s ease-in-out;
        border-radius: 10px;
        filter: drop-shadow(0px 15px 4px #707270);
    }

}



/* == GAME == */

/*#gameDiv{
    padding-top: 10vh;
    padding-bottom: 15vh;
    display: flex;
    justify-content: center;
    visibility: hidden;    
    text-align: center;
    margin: auto;
}*/

.answersContainer{
    display: grid;
    row-gap: 15px;
    column-gap: 15px;
    justify-content: center;
    padding-bottom: 30vh;
}

.answerItem{
    display: flex;
    background-color: #006e35;
    width: 200px;
    height: 100px;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
}


.domanda{
    color: #171c1c;
    text-align: center;
    font-size: 30px;
    padding-top: 1rem;
}

.answer{
    margin: auto;

}


.points{
    padding-top: 2vh;
    color: #171c1c;
}

.bonusItem{
    display: flex;
    background-color: #53BA72;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
}

.bonusItem:active{
    display: flex;
    background-color: #3a9e58;
    width: 110px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    margin: auto;
    transition: 1ms;
}

.testoBonusRimanenti{
    color: #171c1c;
    padding-top: 0.6vh;
}

#bonusRimanenti{
    background-color: #329C58;
    color: white;
    padding: 8px;
    border-radius: 5px;
    font-size: 18px;
}

.bonus{
    font-size: 15px;
    margin: auto;
}


    /* == MODAL BOX ==*/
#modal-box{ 
    position: fixed;
    top: 20%;
    left: 0;
    width: 100%;
    height: max-content;
    background-color: #cfcfcf;
    transition: all 0.2s ease-in-out;
    border-radius: 10px;
    filter: drop-shadow(0px 15px 4px #707270);
}

#modal-box.hidden{
    top: -100%
}

#testoComplimenti{
    text-align: center;
    font-size: 30px;
    color:#171c1c;
    padding-top: 10px;
}

#testoPunteggio{
    text-align: center;
    font-size: 30px;
    color:#171c1c;
    padding-top: 10px;
}

#points{
    font-size: 65px;
    font-weight: 600;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#emoji{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#giocaAncora{
    margin: 10px 0 30px;
    padding: 10px 5px 10px 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
    border: none;
    border-radius: 10px;
    background-color: #006e35;
    filter: drop-shadow(0px 15px 4px rgb(126, 172, 126));
}