/*=== SEZIONE INTRODUTTIVA CON TITOLO CENTRALE === */
/* Importiamo gli stili comuni */
@import "commons.css";

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  *{
    box-sizing: border-box;
  }
/* == NAVBAR ==*/



.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color:transparent;
    width: 100%;
    transition: background-color 0.3s ease-in-out;
    text-align: center;
    z-index: 11;
}

.navbar.scrollata {
    background-color: var(--navColor);
  }


.intro{
    background-image: url('../images/homeImages/savingMoney.jpg');
    background-size: cover;
    height: 100vh;
    background-position:center ;
    display: flex;
    align-items: center;
    justify-content: center;
}

  
.introText {
    font-size: 40px;
    color: #fff;
    text-align: center;
    font-family: 'Nunito';
    letter-spacing: 2px;
}

.sectionDiv{
    background-color: white;
}

/*==== SEZIONE 1 ===*/

.sezione{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}


.testoSezione{
    color: #171c1c;
    font-weight: 400;
    font-size: 21px;
    margin-left: 20px;
    margin-right: 20px;
}

.sezione1{
    background-color: white;
}

/*==== SEZIONE 2 ===*/

.sezione2{
    background-color: #00803E;
}

#immagine{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

#maialino{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
@media screen and (min-width: 425px) {
    
    .testoSezione{ font-size: 25px;}
   
}

/* == MEDIA QUERY TABLET */

@media screen and (min-width: 767px) {
    

    .sezione{
        display: flex;
        flex-direction: row;
    }

    .sezione3{
        flex-direction: row-reverse;
    }

    .testoSezione{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 50px;
    }

    .testoSezione2{
        margin-top: 10px;
        margin-bottom: 10px;
        margin-right: 50px;
        margin-left: 0px;
    }

    #immagine{
        width: 40%;
    }

    #maialino{
        width: 35%;
    }


}


/* == LAPTOP == */


@media screen and (min-width: 790px) {
    
      
    .titolo {
        order: 2;
        margin-left: auto;
        margin-right: auto;

    }
      

    .sezione{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sezione3{
        flex-direction: row-reverse;
    }
    

    .titoloSezione{
        font-size: 40px;
    }

    .testoSezione{
        font-size: 25px;
    }

    #maialino{
        width: 30%
    }

    #immagine{
        width: 40%;
    }

    .sezione2{
        height: max-content;
    }

    .titoloSezione{
        padding-top: 1rem;
    }

    #testoSezione2{
        height: fit-content;
    }

}

/* == LAPTOP GRANDE == */

@media screen and (min-width:1439px) {
      
    .titolo {
        order: 2;
        margin-left: auto;
        margin-right: auto;
    }
      

    .sezione{
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .sezione3{
        flex-direction: row-reverse;
    }


    .titoloSezione{
        font-size: 40px;
    }

    .testoSezione{
        font-size: 32px;
    }

    .maialino{
        width: 300px;
        height: 300px;
    }

    #immagine{
        width: 30%;
    }

    .sezione2{
        height: max-content;
    }

    .titoloSezione{
        padding-top: 1rem;
    }

}
