@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:0;
}

/* == CLASSI STANDARD ==*/

:root{
    --bg-color: #f0f0f0;
    --navColor: #00803E;
    --textColor: #171c1c;
    --menuBgColor: #329C58;
    --headColor: #fff;
}

body{
    background-color: var(--bg-color);  
}

.testo{
    font-family: 'Poppins','sans serif';
    font-size: 18px;
    color: #fff;
}

.descrizione{
    font-size: 30px;
    color: var(--textColor);
}

/*==== NASCONDE SCROLL BAR ============================================*/
/* Nasconde la scrollbar da Chrome, Safari and Opera */
.body::-webkit-scrollbar {
    display: none;
}
  
/* Nasconde la scrollbar da IE, Edge and Firefox */
.body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

/*================    ## NAVBAR ##  =========================================*/

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: transparent;
    position: fixed;
    width: 100%;
    transition: background-color 0.3s ease-in-out;

}

.navbar.scrollata {
    background-color: var(--navColor);
  }

.menuIcon {
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
  }
  
.titolo {
    font-size: 1.7rem;
    font-weight: bold;
    margin-right: 110px;
    font-size: 21px;
} 

/*=== SEZIONE INTRODUTTIVA CON TITOLO CENTRALE === */

.intro{
    background-image: url('/static/images/homeImages/savingMoney.jpg');
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

  
.introText {
    font-size: 1.5rem;
    padding-right: 30px;
    color: #fff;
    text-align: center;
}

/**/

