@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing:0;
}


/* == CLASSI STANDARD ==*/

:root{
    --bg-color: #f0f0f0;
    --navColor: #00803E;
    --textColor: #171c1c;
    --menuBgColor: #329C58;
    --headColor: #fff;
}

body{
    background-color: var(--bg-color);  
}

/* Nasconde la scrollbar da Chrome, Safari and Opera */
.body::-webkit-scrollbar {
    display: none;
}
  
/* Nasconde la scrollbar da IE, Edge and Firefox */
.body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.testo{
    font-family: 'Poppins','sans serif';
    font-size: 18px;
    color: #fff;
}

.descrizione{
    font-size: 30px;
    color: var(--textColor);
}

/* == NAVBAR ==*/

.introSezione{

    background: url("/static/images/homeImages/savingMoney.jpg");
    width: 100%;
    height: 500px;
    background-position: center;

}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    overflow: hidden;
    background-color: #00803E;
}

.titolo{
    padding-top: 0.7rem;
    padding-bottom: auto;
    letter-spacing: 5px;
    padding-right: 76px;
}




/*

=== SEZIONE DELL ICONA ===

In alto a destra della navbar

*/



/*

== SEZIONE DEL NOME DEL SITO ==

Centrale sulla navbar

-- > TODO: per evitare problemi col responsive , diminuire il font in mediaquery <--


*/




/*== SEZIONE CON BG IMAGE ==*/



/* == TESTO CENTRALE == */


/*== PRIMA SEZIONE ==*/




/* == MEDIA QUERIES ==
@media only screen and (max-width: 380px) {
    .nomeSito{
        font-size: 21px;
    }

    .navbar{
        width: 100%;
        height: 60px;
    }

    #textCenter{
        font-size: 40px;
    }

    #titoloDiv{
        font-size: 20px;
    }

    .flex-container{
        display: block;
        justify-content: space-around;
    }

    .descrizione{
        font-size: 15px;
        text-align: left;
        position: absolute;
    }

    #image{
        visibility: hidden;
    }

  }

  */


