@import url("commons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.linkHome:link{
  font-family: 'Poppins','sans serif';
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.linkHome:visited{
  font-family: 'Poppins','sans serif';
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

body::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.introText{
  font-size: 40px;
  color: #fff;
  text-align: center;
  font-family: 'Nunito';
  letter-spacing: 2px;
}
  
/* == IL PROGETTO ==*/
#testoSezione2 {
  font-size: 22px;
  margin-left: 6%;
  margin-right: 6%;
  padding-bottom: 2rem;
}

#github{
  width: 50%;
  padding-bottom: 1.5rem;
  transition: 0.5s;
}


.navbar{
    position: fixed;
    display: flex;
    align-items: center;
    padding: 1rem;
    background-color:transparent;
    width: 100%;
    transition: 0.3s ease-in-out;
    text-align: center;
    z-index: 11;
}

.navbar.scrollata {
    background-color: var(--navColor);
  }

.intro{
    background-image: url('../images/FileOriginali/teamwork.jpg');
    background-size: cover;
    height: 100vh;
    background-position:center ;
    display: flex;
    align-items: center;
    justify-content: center;
}


.persona img{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  border: 2px solid var(--headColor);
}

.autori {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6vh;
  padding-bottom: 6vh;
  padding-left: 1.5rem;
  text-align: left;
}

.chiSiamoParagrafo {
  text-align: center;
  font-size: 24px !important;
  margin-left: 6%;
  margin-right: 6%;
}

.persona{
  flex-direction: row;
  display: flex;
  align-items: center;
  padding-bottom: 1rem;
  width: max-content;
}

.personaTitolo{
  padding-top: 2vh;
  padding-left: 2vh;
  transition: 0.5s;
}

span{
  font-weight: 200;
  font-size: 15px;
  padding-top: 2px;
  border: 1px solid var(--headColor);
  padding-left: 5px;
  padding-right: 5px;
}

.chiSiamo{
  display: flex;
  flex-direction: column;
  align-items: center;
  }

#imgScuola{
  border-radius: 5vh;
  width: 100%;
}

.scuola{
  padding-top: 5%;
  padding-bottom: 20%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.didScuola{
  padding-top: 10%;
  text-align: center;
}



/* == MEDIA QUERY TABLET */

@media screen and (min-width: 767px) {
  
  .autori{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 8vh;
    row-gap: 1vh;
    text-align: center;
    padding-left: 0rem;
    justify-content: center;
    justify-items: center;
 }

  .persona img{
    width: 7rem;
    height: 7rem;
  }

  .persona {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    flex-direction: column;
    width: 12rem;
}

.personaTitolo{
  padding-left: 0vh;
}

.titoloSezione {
  font-size: 30px !important;
}

#github{
  width: 35%;
  padding-bottom: 4.5rem;
}

#testoSezione2{
  font-size: 24px;

}

.chiSiamoParagrafo {
  font-size: 24px !important;
}

#imgScuola {
  border-radius: 5vh;
  width: 55%;
  padding-bottom: 1.5rem;
}

.scuola {
  padding-top: 3%;
  padding-bottom: 5%;
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.didScuola{
  padding-top: 0%;
  text-align: center;
}

}


/* == LAPTOP == */


@media screen and (min-width: 790px) {
  
  .autori{
    flex-direction: row;
  }

  .persona img{
    width: 9rem;
    height: 9rem;
  }

  .persona {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    flex-direction: column;
}

.titoloSezione {
  font-size: 40px !important;
}

#github{
  width: 24%;
}

#github:hover{
  width: 27%;
}

#testoSezione2{
  font-size: 24px;

}

.chiSiamoParagrafo {
  font-size: 24px !important;
}

#imgScuola {
  border-radius: 5vh;
  width: 55%;
  padding-bottom: 2rem;
}

.scuola {
  padding-top: 3%;
  padding-bottom: 5%;
  margin-left: 6%;
  margin-right: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.didScuola{
  padding-top: 0%;
  text-align: center;
  font-size: 24px !important;
}

}

/* == LAPTOP GRANDE == */

@media screen and (min-width:1439px) {
    
  .autori{
    flex-direction: row;
    column-gap: 12rem;
  }

  .persona img{
    width: 12rem;
    height: 12rem;
  }


  .persona {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    flex-direction: column;
  }

  #testoSezione2{
    font-size: 32px;
  }

  .titoloSezione {
    font-size: 40px !important;
  }

  #github{
    width: 25%;
  }

  #github:hover{
    width: 28%;
  }

  .chiSiamoParagrafo {
    font-size: 32px !important;
  }

  #imgScuola {
    border-radius: 5vh;
    width: 55%;
    padding-bottom: 2rem;
  }
  
  .scuola {
    padding-top: 3%;
    padding-bottom: 5%;
    margin-left: 6%;
    margin-right: 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .didScuola{
    padding-top: 0%;
    text-align: center;
  }
  

}