@import "commons.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* == MEDIA QUERY TABLET */

@media screen and (min-width: 767px) {
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40;
    }
    
    .menuIcon {
        order: -1;
        margin-right: auto;
    }

    .menuIcon:hover {
        order: -1;
        margin-right: auto;
        cursor: pointer;
    }

    .titolo {
        order: 2;
        margin-left: auto;
        margin-right: auto;
        padding-right: 24.6%;
    }
      

}


/* == LAPTOP == */


@media screen and (min-width: 790px) {
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40;
    }
    
    .menuIcon {
        order: -1;
        margin-right: auto;
    }

    .menuIcon:hover {
        order: -1;
        margin-right: auto;
        cursor: pointer;
    }
      
    .titolo {
        order: 2;
        margin-left: auto;
        margin-right: auto;
        padding-right: 24.6%;
    }

}

/* == LAPTOP GRANDE == */

@media screen and (min-width:1439px) {
    
    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 40;
    }
    
    .menuIcon {
        order: -1;
        margin-right: auto;
    }

    .menuIcon:hover {
        order: -1;
        margin-right: auto;
        cursor: pointer;
    }

    .titolo {
        order: 2;
        margin-left: auto;
        margin-right: auto;
        padding-right: 24.6%;
    }

}
